body{
    height: 100%;
    background-color: black;
    color: yellow;
}
img{
    height: 240px;
    width: 30%;
    float: left;
    margin: 1.5%;
    border: 2px solid greenyellow;
}
.container{
    text-align: center;
}
table{
    border: 2px solid white;
    font-size: 25px;
    margin-top: 30px;
}
th{
    background-color: red;
    color: rgb(255, 255, 255);
    border: 2px solid blue;
}
h2{
    text-align: left;
    color: rgb(247, 1, 1);
    margin-top: 40px;

}
hr{
    border: 3px solid rgb(255, 153, 0);
}
#jt{
    margin-top: 600px;
}