<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/hyd.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Hyderabad Related all jobs Informations -</h1>
        <hr>
        <h2>Some famous things in Hyderabad : </h2>
        <img src="{% static 'image/12.jpg' %}" alt="">
        <img src="{% static 'image/13.jpg' %}" alt="">
        <img src="{% static 'image/14.jpg' %}" alt="">
        <img src="{% static 'image/15.jpg' %}" alt="">
        <img src="{% static 'image/16.jpg' %}" alt="">
        <img src="{% static 'image/17.jpg' %}" alt="">

        <hr> <br> <br>
        <h2 id='jt'>Currently active jobs in Hyderabad -</h2>
        {% if jobs_list %}
          <table border='3'>
            <thead>
                <th>Company</th>
                <th>Title</th>
                <th>Eligibility</th>
                <th>Address</th>
                <th>Email</th>
                <th>Phone Number</th>
            </thead>
            {% for jobs in jobs_list  %}
             <tr>
                <td>{{jobs.company}}</td>
                <td>{{jobs.title}}</td>
                <td>{{jobs.eligibility}}</td>
                <td>{{jobs.address}}</td>
                <td>{{jobs.email}}</td>
                <td>{{jobs.phonenumber}}</td>
             </tr>
            {% endfor %}
          </table>
           {% else %}
           <p>No Jobs found in hyderabad currently</p>
        {% endif %}
    </div>
</body>
</html>